/*font-family: 'Playfair Display', serif;
font-family: "Poppins", sans-serif;
font-family: "Rubik", sans-serif;*/
:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --main-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
p {
  font-family: var(--secondary-font);
}

.hero h1 {
  font-size: 96px;
  font-weight: 700;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
  color: #272142;
  margin-top: 30px;
  margin-bottom: 40px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 276px 375px;
}

.btn-start {
  background-color: var(--main-color);
  border-radius: 4px;
  color: white;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--secondary-font);
}
